@import '~style/helpers';
.profile {
	padding: 72px 20px 16px 20px;
	background-color: #ececec;
	min-height: 100%;
	width: 100%;
	.main {
		background-color: #fff;
	}
	.topic {
		font-size: 12px;
		border: 1px solid #e9e9e9;
		padding: 6px;
		.title {
			font-size: 14px;
		}
		.replies {
		}
	}
}
